<p>conductor-form works!</p>
<form action="get">
    <div class="container">
        <label for="">Nombre</label>
        <input type="text">
    </div>
    <div class="container">
        <label for="">Apellido</label>
        <input type="text">
    </div>
    <div class="container">
        <label for="">Direccion</label>
        <input type="text">
    </div>
    <div class="container">
        <label for="">CURP</label>
        <input type="text">
    </div>
    <div class="container">
        <label for="">Licencia</label>
        <input type="text">
    </div>
    <div class="container">
        <label for="">Vigencia de Licencia</label>
        <input type="text">
    </div>
    <div class="container">
            <label for="">Documentos</label>
            <input type="text">
    </div>
</form>