<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/info">AppMTR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="" class="nav-link active">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link active">Buscar</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link active">Sign out</a>
            </li>
        </ul>
    </div>
    <!--
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap"><a href="" class="nav-link">
            Update <mat-icon>update</mat-icon>
        </a></li>
        <li class="nav-item text-nowrap"><a href="" class="nav-link">Delete<mat-icon>delete</mat-icon></a></li>
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
    -->
</nav>